Practicas Grupales/Primer_Practica_GlassFish_Client_Ws/P2-Grupal-Client_SOAP/src/wsdl/localhost_8080/P2-Grupal-Ws_SOAP/ServicioWeb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://p2g.itesm.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://p2g.itesm.mx/" name="ServicioWeb">
<types>
<xsd:schema>
<xsd:import namespace="http://p2g.itesm.mx/" schemaLocation="http://localhost:8080/P2-Grupal-Ws_SOAP/ServicioWeb?xsd=1"/>
</xsd:schema>
</types>
<message name="saludo">
<part name="parameters" element="tns:saludo"/>
</message>
<message name="saludoResponse">
<part name="parameters" element="tns:saludoResponse"/>
</message>
<message name="ServicioWebException">
<part name="fault" element="tns:ServicioWebException"/>
</message>
<message name="operacion">
<part name="parameters" element="tns:operacion"/>
</message>
<message name="operacionResponse">
<part name="parameters" element="tns:operacionResponse"/>
</message>
<portType name="ServicioWeb">
<operation name="saludo">
<input wsam:Action="http://p2g.itesm.mx/ServicioWeb/saludoRequest" message="tns:saludo"/>
<output wsam:Action="http://p2g.itesm.mx/ServicioWeb/saludoResponse" message="tns:saludoResponse"/>
<fault message="tns:ServicioWebException" name="ServicioWebException" wsam:Action="http://p2g.itesm.mx/ServicioWeb/saludo/Fault/ServicioWebException"/>
</operation>
<operation name="operacion">
<input wsam:Action="http://p2g.itesm.mx/ServicioWeb/operacionRequest" message="tns:operacion"/>
<output wsam:Action="http://p2g.itesm.mx/ServicioWeb/operacionResponse" message="tns:operacionResponse"/>
<fault message="tns:ServicioWebException" name="ServicioWebException" wsam:Action="http://p2g.itesm.mx/ServicioWeb/operacion/Fault/ServicioWebException"/>
</operation>
</portType>
<binding name="ServicioWebPortBinding" type="tns:ServicioWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="saludo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServicioWebException">
<soap:fault name="ServicioWebException" use="literal"/>
</fault>
</operation>
<operation name="operacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServicioWebException">
<soap:fault name="ServicioWebException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ServicioWeb">
<port name="ServicioWebPort" binding="tns:ServicioWebPortBinding">
<soap:address location="http://localhost:8080/P2-Grupal-Ws_SOAP/ServicioWeb"/>
</port>
</service>
</definitions>